<!doctype html>

<head>
<title>Q&A Team: {{tags}}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/qa-teams.css') }}">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<h1>Q&A Team: {{tags}}</h1>
<ul class="list-inline">
{% for question in questions %}
	<li class="list-inline-item">
		<div class="hovereffect">
			<img src="{{ question.owner.profile_image }}" class="img-responsive">
			<div class="overlay">
	        	<h2>{{ question.owner.display_name }}</h2>
	        	<a class="info" href="{{ question.owner.link }}" target="_blank">Profile</a>
	    	</div>
    	</div>
	</li>
{% endfor %}
</ul>

<h2>Sample Questions</h2>
<ul>
{% for question in questions %}
	<li>{{question.title}}</li>
{% endfor %}
</ul>


</body>