{% extends "base.html" %}

{% block content %}
<h1>Q&A Team: {{tags}}</h1>
<ul class="list-inline">
{% for question in questions %}
	<li class="list-inline-item">
		<div class="hovereffect">
			<img src="{{ question.owner.profile_image }}" class="img-responsive">
			<div class="overlay">
	        	<h2>{{ question.owner.display_name }}</h2>
	        	<a class="info" href="{{ question.owner.link }}" target="_blank">Profile</a>
	    	</div>
    	</div>
	</li>
{% endfor %}
</ul>

<h2>Sample Questions</h2>
<ul>
{% for question in questions %}
	<li>{{question.title}}</li>
{% endfor %}
</ul>
{% endblock %}