#Crew {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1%;
  align-content: flex-start;
}

#bannerWrapper {
  background-color: var(--highlight-bg, black);
}

.popup-hidden, .hidden {
  display: none
}

.popup-show {
  display: inline-block;
}

.user-info {
  margin: 1%;
}