#Crew {
  width: 100%;
  display: flex;
  align-items: center;
}

#Crew > p, .scrollmenu .user-info, .popup-show {
  display: inline-block;
}

#Crew > p {
  font: var(--theme-question-body-font-family);
  font-weight: bold;
  margin: 1%;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu .user-info {
  padding: 14px;
}

#bannerWrapper {
  background-color: var(--highlight-bg, black);
  padding: 2%;
  margin: 1%;
}

.popup-hidden, .hidden {
  display: none
}

.user-info {
  margin: 1%;
}

.name-date {
  display: flex;
}

.dismiss {
  width:25px;
  height:20px;
  background-color:transparent;
  border-color:transparent;
  border-image:none;
  text-align:start;
  float:right;
  color: var(--black-700);
  /*
  box-shadow: inset 0 1% 0 0 rgba(255,255,255,0.7);
  border-color: var(--theme-button-filled-border-color);
  background-color: var(--theme-button-filled-background-color);
  color: var(--theme-button-filled-color);
  */
}

.dismiss:hover {
  color: #f48024;
}