html,body {
  font:12px Georgia;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 350px;
/*  background-color: #99ffcc;*/
  margin: auto;
  padding: 10px;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 14px;
}

#identity {
  display: flex;
  flex-direction: column;
}
#identity button {
  width: 70px;
  height: 40px;
  background-color: #003366;
  color: #ffffff;
  font: 12px Georgia;
  margin-top: 0px;
  align-self: center;
}
#intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#profile_pic {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: auto;
}
#profile_pic img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
#name_and_motto {
  display: block;
  margin: 20px;
  width: 40%;
}

#pins {
  width: 20%;
  align-self: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
#pin_images {
  display: grid;
  grid-template-columns: 33% 33% auto;
  column-gap: 5px;
  grid-template-rows: 33% 33% auto;
  row-gap: 5px;
}
#pins img {
  width: 25px;
  height: 25px;
}
#communities {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}
#communities div {
  border-width: thick;
  background-color: #003366;
  color: #ffffff;
  padding: 5px;
}

/* Below code taken from https://codepen.io/Buttonpresser/pen/qiuIx */
.wrap {
  font:12px Arial, san-serif;
}
h1.likert-header {
  padding-left:4.25%;
  margin:0px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;

}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
}
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;}
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;}

#weekly-summary > p {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  font-size:large;
}

#weekly-summary {
  width: 80%;
  display: flex;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.carousel-item a, .carousel-item p {
  color: #ffffff;
  margin: 2px;
}

.carousel-item a:hover {
  color: #f48024;
}

.tags-container {
  display:flex;
  justify-content:center;
}

.weekly-tags {
  display:flex;
  flex-direction:row;
}

#nickname, #motto {
  font-size: 14px;
  padding: 2%;
  width: 100%;
}

.carousel.slide {
  padding: 0px;
  background-color: #0095ff;
  box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.4);
  border-radius: 25px;
}

.weekly-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#summary-container {
  width: 90%;
}